<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/fav.ico}">

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>
<p th:text="${creditError}"></p>
<form class = "forma" th:action="@{/credit/confirmCredit}" method="post">
    <label for="salary">Введите вашу заработную плату</label>
    <input type="number" id = "salary" name="salary" required>
    <label for="confirm">Согласие с условиями пользования</label>
    <input type="checkbox" id = 'confirm' required>
    <p>Ваша страна проживания: Россия</p>
    <input type="submit" value = "Подтвердить">
</form>
<form th:action="@{/credit/refuseCredit}" method="post">
    <input type="submit" value="Отмена">
</form>
<div  th:replace="~{fragments/footer :: footer}"> </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>