<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/fav.ico}">

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<form class = "forma" th:action="@{/credit/makeCredit}" method="post">
    <label for="sum">Введите сумму кредита</label>
    <input type="number" name="sum" id = "sum" max=1000000 min = 10000 required>
    <br />
    <label for="term">Введите срок кредита в месяцах: </label>
    <input type="number" id = "term" name="term" required>
    <input type="submit" value = "Расчитать кредит">
</form>
<div  th:replace="~{fragments/footer :: footer}"> </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>